@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins.woff2') format('woff2');
}
* {
    font-family: 'Poppins', sans-serif;
}

.borderlessCard {
    border-width: 0;
}

.errorCard {
    background: indianred;
}

.successCard {
    background: lightgreen;
}